@import "tailwindcss";
@import "./styles.css";


@theme {

  --color-text: var(--text_col);
  --color-background: var(--background_col);
  --color-primary: var(--primary_col);
  --color-secondary: var(--secondary_col);
  --color-accent: var(--accent_col);

  --color-dark_text: var(--dark_text_col);
  --color-dark_background: var(--dark_background_col);
  --color-dark_primary: var(--dark_primary_col);
  --color-dark_secondary: var(--dark_secondary_col);
  --color-dark_accent: var(--dark_accent_col);

  --color-card: var(--card_col);
  --color-dark_card: var(--dark_card_col);

  --color-text-up: color-mix(in srgb, var(--text_col), white 10%);
  --color-text-down: color-mix(in srgb, var(--text_col), black 10%);
  --color-background-up: color-mix(in srgb, var(--background_col), white 10%);
  --color-background-down: color-mix(in srgb, var(--background_col), black 10%);
  --color-primary-up: color-mix(in srgb, var(--primary_col), white 10%);
  --color-primary-down: color-mix(in srgb, var(--primary_col), black 10%);
  --color-secondary-up: color-mix(in srgb, var(--secondary_col), white 10%);
  --color-secondary-down: color-mix(in srgb, var(--secondary_col), black 10%);
  --color-accent-up: color-mix(in srgb, var(--accent_col), white 10%);
  --color-accent-down: color-mix(in srgb, var(--accent_col), black 10%);

  --color-dark_text-up: color-mix(in srgb, var(--dark_text_col), white 10%);
  --color-dark_text-down: color-mix(in srgb, var(--dark_text_col), black 10%);
  --color-dark_background-up: color-mix(in srgb, var(--dark_background_col), white 10%);
  --color-dark_background-down: color-mix(in srgb, var(--dark_background_col), black 10%);
  --color-dark_primary-up: color-mix(in srgb, var(--dark_primary_col), white 10%);
  --color-dark_primary-down: color-mix(in srgb, var(--dark_primary_col), black 10%);
  --color-dark_secondary-up: color-mix(in srgb, var(--dark_secondary_col), white 10%);
  --color-dark_secondary-down: color-mix(in srgb, var(--dark_secondary_col), black 10%);
  --color-dark_accent-up: color-mix(in srgb, var(--dark_accent_col), white 10%);
  --color-dark_accent-down: color-mix(in srgb, var(--dark_accent_col), black 10%);

}




.card {
  @apply p-6 bg-card border border-gray-300 rounded-lg;
  /* shadow-lg */
}

.primary-button {
  @apply text-white bg-primary hover:bg-primary-up focus:ring-4 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
}

.secondary-button {
  @apply text-white bg-secondary hover:bg-secondary-up focus:ring-4 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
}

.accent-button {
  @apply text-white bg-accent hover:bg-accent-up focus:ring-4 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
}



.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}





